<footer>
<p>
  The site is maintained by <a href="https://danleatherman.com/">Dan Leatherman</a> &amp; <a href="https://internet-smith.com/">Jeremy Smith</a> for Parsons School of Design Core Interaction Course for reference and for assignments. Find the repo on <a href="{{ pkg.repository.url }}">Github</a>.
</p>
<p>
  This page was generated on {{ date | timestamp }}
</p>
</footer>
