<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }} - SP19 Core Interaction</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="container">
      <header>
        <ul class="nav">
          <li>
            <a href="/">Home<small>&nbsp;</small></a>
          </li>
          <li>
            <a href="/studio">Studio<small>T/F 9-11:40AM</small></a>
          </li>
          <li>
            <a href="/lab">Lab<small>W 7-9:40PM</small></a>
          </li>
          <li>
            <a href="/info">Info<small>&nbsp;</small></a>
          </li>
        </ul>
        <h1>{{ title }}</h1>
        {%- if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
      </header>
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
  </body>
</html>



