---
permalink: search.json
---
[
{%- for lectures in collections.lectures -%}
  {
    "url": "{{ lectures.url }}",
    "title": "{{ lectures.data.title }}",
    "index": "{{ lectures.templateContent | squash }}"
  }{% if not loop.last %},{% endif %}
{%- endfor -%},
{%- for labs in collections.labs -%}
  {
    "url": "{{ labs.url }}",
    "title": "{{ labs.data.title }}",
    "index": "{{ labs.templateContent | squash }}"
  }{% if not loop.last %},{% endif %}
{%- endfor -%}
]
